/* Set default font size to 16px */
html {
    font-size: 16px;
  }
  
  /* Style form groups */
  .form-group {
    margin-bottom: 1rem;
    ;
  }
  .heading {
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    background-color:  #009688;
    font-size: 1.3rem;
    color: #FAFAFA;
    position: relative;
    width: 100%;
    padding: 10px;
    margin: -10px -10px 25px -10px;
    justify-items: space;
    align-content: space-around;
    display: flex;
    flex-direction: column;
    
  }
  h2 {
    font-family: 'Roboto', sans-serif;
    align-items: center;
    align-content: center;
    justify-content: center;
    display: flex;
    width:100%;
    
  }
  /* Style labels */
  label {
    display: block;
    margin-bottom: 0.5rem;
  }
  .the_firstline {
    display: flex;
    align-content: space-between;
    flex-direction: column;
    justify-content: space-around;
    
    display: inline-flexbox;
    width: 40%;
    align-self: flex-start;
  }
  .phone {
    width: 50%;
    display: flex;
    justify-content: space-around;
  }
  .image_def{
    size:5rem;
    width:20%
  }
  .address {
    
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .the_whole {
    width:100%;
    /* border: #009688 2px solid; */
    display:flex;
    justify-content:space-around
  }
  /* Style inputs and textareas */
  input[type="text"],
  input[type="email"],
  input[type="tel"],
 
  textarea {
    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  /* Style submit button */
  input[type="submit"] {
    background-color: #009688;
    color: white;
    border: none;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    display: block;
    margin: 0 auto;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
  }
  /* input[type="file"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    display: block;
    margin: 0 auto;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
  }
   */
  
  .the_buttons{
    display: flex;
    width:30%;
    float: right
  }
  .imaguploading {
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }
  .the_image{
    display: flex;
    flex-direction: column;
    align-self: start;
  }
 
  
  
  
  
  
  
  /* Media query for small screens */
  @media (max-width: 768px) {
    /* Set font size to 14px */
    html {
      font-size: 14px;
    }
  
    /* Set form width to 100% */
    form {
      width: 100%;
    }
    .the_buttons{
        display: flex;
        width:70%;
       
      }
    .the_whole{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    /* Reduce padding on form elements */
    .form-group {
      margin-bottom: 0.75rem;
    }
    .the_firstline {
        width:100%;
        display: flex;
        flex-direction: column;
        
    }
    .image_def{
        size:5rem;
        width:50%
      }
    /* Adjust label width */
    label {
      width: 100%;
    }
  
    /* Reduce font size on inputs and textareas */
    input[type="text"],
    input[type="email"],
    input[type="tel"],
    textarea {
      font-size: 1rem;
    }
  
    /* Adjust submit button margin */
    input[type="submit"] {
      margin-top: 1rem;
    }
    
  }
  