html {
    font-size: 16px;
  }
  
  /* Style form groups */
  .form-group {
    margin-bottom: 1rem;
    ;
  }
  .heading {
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    background-color:  #009688;
    font-size: 1.3rem;
    color: #FAFAFA;
    position: relative;
    width: 100%;
    padding: 10px;
    margin: -10px -10px 25px -10px;
    justify-items: space;
    align-content: space-around;
    display: flex;
    flex-direction: column;
    
  }
  .the_buttons{
    display: flex;
    width:30%;
    float: right
  }
p {
    justify-content: center;
}
  input[type="submit"] {
    background-color: #009688;
    color: white;
    border: none;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    display: block;
    margin: 0 auto;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
  }
  p {
    justify-content: center;
    display: flex;
  }
  h2 {
    justify-content: center;
    display: flex;
  }
  h3 {
    justify-content: center;
    display: flex;
  }
  
  
