#ResumeWrapper
{
    background-color: white;
    border: 1px solid black;
    border-bottom: none;
    height: fit-content;
    padding: 5rem;
}

.resume-header
{
    display: grid;
    grid-template-columns: 20% 80%;
    border-bottom: 1px solid  #58aeff;

}

.resume-header-pt-1
{
    border-right: 1px solid  #58aeff ;
}
.resume-header-pt-2
{
    text-align: left;
    padding: 1rem;
    padding-top: 1.6rem;
    padding-bottom: 0;
    font-family: 'Nunito', sans-serif;
}
.details-pt-1
{
    display:flex;
}
.details-pt-1 h6{
    margin-right: 1rem;
}
.resume-body
{
    font-family: 'Nunito', sans-serif;
    margin-top: 1rem;
}
.resume-body-pt-1
{
    text-align: left;
    margin-left: 1rem;
    border-bottom: 0.2rem solid  #58aeff;

}
.resume-body-pt-2
{
    text-align: left;
    margin-left: 1rem;
    border-bottom: 0.2rem solid  #58aeff;

}

.body-row
{
    display: grid;
    grid-template-columns: 25% 25% 25% 25% ;
    padding-left: 1rem;
    font-size: 0.9rem;
    padding-bottom: 1rem;
}
.education-display
{
    font-family: 'Nunito', sans-serif;
    font-size: 0.5rem;
    color: rgb(39, 39, 39);
}
.education-int
{
    font-family: 'Nunito', sans-serif;
    font-size: 0.5rem;
    color: rgb(39, 39, 39);
    font-weight: bold;
    display: flex;
    align-items: center;
}
.timeline
{
    margin-left: 1rem;
}
.education-int-desc
{
    margin-left: 1rem;
}
.education-int-desc h6 b
{
    font-weight: 600;
}
.bld
{
    font-weight: 900;
}


.education-display-main-1
{
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    margin-left: 3rem; 
}

.education-display-1
{
    font-family: 'Nunito', sans-serif;
    font-size: 0.5rem;
    color: rgb(39, 39, 39);
    border-bottom: #10477a 0.5px solid;
    margin-bottom: 1rem;
}
.education-int-1
{
    font-family: 'Nunito', sans-serif;
    font-size: 0.5rem;
    color: rgb(39, 39, 39);
    font-weight: bold;
    align-items: center;
}
.timeline-1
{
    margin-left: 1rem;
}
.education-display-main
{
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    margin-left: 3rem; 
}

.education-display-main-1{
    display: flex;
    flex-direction: row;
    margin-left: 3rem; 

}

.txt
{
    display: flex;
}
.txt h6
{
    margin-right: 1rem;
}

.education-display-1:last-child {
    border: none;
}

#bdt-2
{
    border-bottom: none;

}